body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.logo {
  font-size: 2rem;
}

.logo-text {
  font-family: Signika Negative;
  font-size: 1.75rem;
}

.navbar {
  padding: 0;
}
