body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.logo {
  font-size: 2rem;
}

.logo-text {
  font-family: Signika Negative;
  font-size: 1.75rem;
}

.navbar {
  padding: 0;
}

.html-duration-picker-input-controls-wrapper .caret.caret-up {
  border-color: transparent transparent #fff transparent !important;
}

.html-duration-picker-input-controls-wrapper .caret.caret-down {
  border-color: #fff transparent transparent transparent !important;
}

.html-duration-picker-input-controls-wrapper .scroll-btn {
  background: transparent !important;
}

.countdown {
  font-family: 'Inconsolata', monospace;
}