@{
  ViewData["Title"] = "Start";
}
@model StartModel

<div class="row justify-content-center">
  <div class="col-auto">
    <div style="width: 600px; max-width: 100%;">
      <div class="card bg-medium mt-5">
        <img class="quotation-img" src="~/img/quotation.svg" />
        <div class="card-header">
          <div class="row mt-2">
            <div class="col-auto">
              <img class="testemonial-img" src="~/img/unknown.jpg" alt="">
            </div>
            <div class="col">
              <h4>Lolstick</h4>
              <p class="fst-italic">Verified Connoisseur des Pastens</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mt-4 mb-4">
            <h1 class="font-italic font-smooch text-primary text-center" style="font-size:4.5rem;">“Paste gut alles gut”</h1>
          </div>
        </div>
        <div class="card-footer">
          <form method="get">
            <div class="row">
              <span asp-validation- class="text-danger"></span>
            </div>
            <div class="row mb-2 row-cols-lg-auto g-3 align-items-center justify-content-center">
                <label class="col-12 col-form-label" for="Duration">Schepperinterval</label>
              <div class="col-12">
                <input class="html-duration-picker form-control bg-dark border-0 text-white" style="max-width: 100px;" asp-for="Interval">
                <span asp-validation-for="Interval" class="text-danger"></span>
              </div>
              <div class="col-12 align-items-center">
                <button class="btn btn-primary" asp-controller="home" asp-action="start" type="submit">Start <i class="bi bi-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
<script src="~/lib/html-duration-picker/html-duration-picker.min.js"></script>
}
