@{
  ViewData["Title"] = "Start";
}
@model StartModel

<div class="row justify-content-center">
  <div class="col-auto">
    <div style="width: 400px; max-width: 100%;">
      <div class="card bg-medium m-5">
        <h5 class="card-header">Session Starten</h5>
        <div class="card-body">
          <form method="get">
            <div class="row">
              <span asp-validation- class="text-danger"></span>
            </div>
            <div class="row mb-2 justify-content-center">
              <label for="Duration" class="col col-md-6 col-form-label">Schepperinterval</label>
              <div class="col col-md-6">
                <input class="html-duration-picker form-control bg-dark border-0 text-white float-end" style="max-width: 100px;" asp-for="Interval">
                <span asp-validation-for="Interval" class="text-danger"></span>
              </div>
            </div>
            @* <div class="row mb-2">
              <label for="Color" class="col col-md-6 col-form-label">Farbe</label>
              <div class="col col-md-6">
              <input type="color" class="form-control-color btn btn-dark" asp-for="Color" name="color" value="#e040fb">
              </div>
              </div>*@
            <div class="row justify-content-end">
              <div class="col-auto">
                <button class="btn btn-primary" asp-controller="home" asp-action="start" type="submit">Start <i class="bi bi-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
<script src="~/lib/html-duration-picker/html-duration-picker.min.js"></script>
}
